<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1,minimal-ui" name="viewport">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic|Material+Icons">
    <link rel="stylesheet" href="https://unpkg.com/vue-material@beta/dist/vue-material.min.css">
    <link rel="stylesheet" href="https://unpkg.com/vue-material@beta/dist/theme/default.css">
    <title>Amethist Lunch Menu</title>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/vue-material@beta"></script>
</head>

<body>
    <div id="app">
        <div class="page-container">
            <md-card class="md-card-example" style="width:600px;">


                <img src="./header.png" alt="">




                <md-card-area md-inset>
                    <md-card-header>
                        <h2 class="md-title">Обедно Меню</h2>
                        <div class="md-subhead">
                            <md-icon>access_time</md-icon>
                            <span>{{ currDay(dayNow) }} - {{ dateNow }}</span>
                        </div>
                    </md-card-header>
                </md-card-area>

                <md-card-area md-inset>
                    <md-card-content>
                        <h3 class="md-subheading">Салата</h3>
                        <div class="md-layout md-gutter md-alignment-center-center">
                            <div class="md-layout-item md-size-10">
                                <md-checkbox v-model="isActiveSalad"></md-checkbox>
                            </div>
                            <div class="md-layout-item md-size-90">
                                <md-field>
                                    <md-select v-model="selectedSalads" name="salad" id="salad" :multiple="true">
                                        <md-option v-for="(salad, index) in salads" :key="index" :value="salad"> {{ salad }} </md-option>
                                    </md-select>
                                </md-field>
                            </div>
                        </div>
                        <div class="md-layout-item">
                            <strong>Избрани Салати:</strong> {{ selectedSalads }}
                        </div>
                    </md-card-content>
                </md-card-area>

                <md-card-area md-inset>
                    <md-card-content>
                        <h3 class="md-subheading">Предястие</h3>
                        <div class="md-layout md-gutter md-alignment-center-center">
                            <div class="md-layout-item md-size-10">
                                <md-checkbox v-model="isActiveStarter"></md-checkbox>
                            </div>
                            <div class="md-layout-item md-size-90">
                                <md-field>
                                    <md-select v-model="selectedStarters" name="starters" id="starters" :multiple="true">
                                        <md-option v-for="(starter, index) in starters" :key="index" :value="starter"> {{ starter }} </md-option>
                                    </md-select>
                                </md-field>
                            </div>
                        </div>
                        <div class="md-layout-item">
                            <strong>Избрани Предястие:</strong> {{ selectedStarters }}
                        </div>
                    </md-card-content>
                </md-card-area>

                <md-card-area md-inset>
                    <md-card-content>
                        <h3 class="md-subheading">Основно</h3>
                        <div class="md-layout md-gutter md-alignment-center-center">
                            <div class="md-layout-item md-size-10">
                                <md-checkbox v-model="isActiveMain"></md-checkbox>
                            </div>
                            <div class="md-layout-item md-size-90">
                                <md-field>
                                    <md-select v-model="selectedMainCourses" name="salad" id="salad" :multiple="true">
                                        <md-option v-for="(mainCourse, index) in mainCourses" :key="index" :value="mainCourse"> {{ mainCourse }} </md-option>
                                    </md-select>
                                </md-field>
                            </div>
                        </div>
                        <div class="md-layout-item">
                            <strong>Избрани Основно:</strong> {{ selectedMainCourses }}
                        </div>
                    </md-card-content>
                </md-card-area>

                <md-card-area md-inset>
                    <md-card-content>
                        <h3 class="md-subheading">Десерт</h3>
                        <div class="md-layout md-gutter md-alignment-center-center">
                            <div class="md-layout-item md-size-10">
                                <md-checkbox v-model="isActiveDessert"></md-checkbox>
                            </div>
                            <div class="md-layout-item md-size-90">
                                <md-field>
                                    <md-select v-model="selectedDesserts" name="dessert" id="dessert" :multiple="true">
                                        <md-option v-for="(dessert, index) in desserts" :key="index" :value="dessert"> {{ dessert }} </md-option>
                                    </md-select>
                                </md-field>
                            </div>
                        </div>
                        <div class="md-layout-item">
                            <strong>Избрани Десерт:</strong> {{ selectedDesserts }}
                        </div>
                    </md-card-content>
                </md-card-area>

                <md-card-actions>
                    <md-button class="md-primary md-raised" @click="showDialog = true">Преглед</md-button>
                </md-card-actions>
            </md-card>
        </div>

        <div>
            <md-dialog :md-active.sync="showDialog">
                <md-dialog-title>Преглед</md-dialog-title>

                <md-dialog-content>
                    <img src="./demo.png" alt="Coffee House">
                </md-dialog-content>

                <md-dialog-actions>
                    <md-button class="md-primary" @click="showDialog = false">Затвори</md-button>
                    <md-button class="md-primary" @click="showDialog = false">Сподели</md-button>
                </md-dialog-actions>
            </md-dialog>

        </div>
    </div>

    <script>
        Vue.use(VueMaterial.default)

        var app = new Vue({
            el: '#app',
            name: 'Overlap',

            data: () => ({

                showDialog: false,
                dateNow: new Date().toLocaleDateString(),
                dayNow: new Date().getDay(),
                selectedSalads: [],
                selectedStarters: [],
                selectedMainCourses: [],
                selectedDesserts: [],

                salads: [
                    'салата-1',
                    'салата-2',
                    'салата-3',
                    'салата-4',
                    'салата-5',
                    'салата-6',
                    'салата-7',
                    'салата-8',
                ],
                starters: [
                    'предястие-1',
                    'предястие-2',
                    'предястие-3',
                    'предястие-4',
                    'предястие-5',
                    'предястие-6',
                    'предястие-7',
                    'предястие-8',
                ],
                mainCourses: [
                    'основно-1',
                    'основно-2',
                    'основно-3',
                    'основно-4',
                    'основно-5',
                    'основно-6',
                    'основно-7',
                    'основно-8',
                ],
                desserts: [
                    'десерт-1',
                    'десерт-2',
                    'десерт-3',
                    'десерт-4',
                    'десерт-5',
                    'десерт-6',
                    'десерт-7',
                    'десерт-8',
                ],
                isActiveSalad: true,
                isActiveStarter: true,
                isActiveMain: true,
                isActiveDessert: true,
            }),



            methods: {
                currDay(cDay) {
                    let c_day = ['Неделя', 'Понеделник', 'Вторник', 'Сряда', 'Четвъртък', 'Петък', 'Събота'];
                    return c_day[cDay];
                },
                sendMessage() {
                    window.alert('Send a message...')
                },
                doACall() {
                    window.alert('Calling someone...')
                },
                test() {
                    this.exampleContent = "test";
                }
            },
        })
    </script>
</body>

</html>