<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1,minimal-ui" name="viewport">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic|Material+Icons">
    <link rel="stylesheet" href="https://unpkg.com/vue-material@beta/dist/vue-material.min.css">
    <link rel="stylesheet" href="https://unpkg.com/vue-material@beta/dist/theme/default.css">
    <title>Amethist Lunch Menu</title>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/vue-material@beta"></script>
</head>

<body>
    <div id="app">

        <div class="page-container">
            <md-app md-waterfall md-mode="overlap">
                <md-app-toolbar class="md-primary md-large">
                    <div class="md-toolbar-row">
                        <md-button class="md-icon-button" @click="menuVisible = !menuVisible">
                            <md-icon>menu</md-icon>
                        </md-button>

                        <span class="md-title">Amethist Menu Generator </span>
                    </div>
                </md-app-toolbar>

                <md-app-drawer :md-active.sync="menuVisible">
                    <md-toolbar class="md-transparent" md-elevation="0">
                        Navigation
                    </md-toolbar>

                    <md-list>
                        <md-list-item>
                            <md-icon>move_to_inbox</md-icon>
                            <span class="md-list-item-text">Inbox</span>
                        </md-list-item>

                        <md-list-item>
                            <md-icon>send</md-icon>
                            <span class="md-list-item-text">Sent Mail</span>
                        </md-list-item>

                        <md-list-item>
                            <md-icon>delete</md-icon>
                            <span class="md-list-item-text">Trash</span>
                        </md-list-item>

                        <md-list-item>
                            <md-icon>error</md-icon>
                            <span class="md-list-item-text">Spam</span>
                        </md-list-item>
                    </md-list>
                </md-app-drawer>

                <md-app-content>
                    <md-card class="md-card-example">
                        <md-card-area md-inset>
                            <md-card-media md-ratio="1:1">
                                <img src="./demo.png" alt="Coffee House">
                            </md-card-media>
                            <md-card-header>
                                <h2 class="md-title">Обедно Меню</h2>
                                <div class="md-subhead">
                                    <md-icon>access_time</md-icon>
                                    <span>{{ dateNow }}</span>
                                </div>
                            </md-card-header>
                        </md-card-area>

                        <md-card-area md-inset>
                            <md-card-content>
                                <h3 class="md-subheading">Салата</h3>
                                <div class="md-layout md-gutter md-alignment-center-center">
                                    <div class="md-layout-item md-size-10">
                                        <md-checkbox v-model="isActive"></md-checkbox>
                                    </div>
                                    <div class="md-layout-item md-size-90">
                                        <md-field>
                                            <md-select v-model="selectedSalads" name="salad" id="salad" :multiple="true">
                                                <md-option v-for="(salad, index) in salads" :key="index" :value="salad"> {{ salad }} </md-option>
                                            </md-select>
                                        </md-field>
                                    </div>
                                </div>
                                <div class="md-layout-item">
                                    <strong>Избрани Салати:</strong> {{ selectedSalads }}
                                </div>
                            </md-card-content>
                        </md-card-area>

                        <md-card-area md-inset>
                            <md-card-content>
                                <h3 class="md-subheading">Предястие</h3>
                                <div class="md-layout md-gutter md-alignment-center-center">
                                    <div class="md-layout-item md-size-10">
                                        <md-checkbox v-model="isActive"></md-checkbox>
                                    </div>
                                    <div class="md-layout-item md-size-90">
                                        <md-field>
                                            <md-select v-model="selectedStarters" name="starters" id="starters" :multiple="true">
                                                <md-option v-for="(starter, index) in starters" :key="index" :value="starter"> {{ starter }} </md-option>
                                            </md-select>
                                        </md-field>
                                    </div>
                                </div>
                                <div class="md-layout-item">
                                    <strong>Избрани Предястие:</strong> {{ selectedStarters }}
                                </div>
                            </md-card-content>
                        </md-card-area>

                        <md-card-area md-inset>
                            <md-card-content>
                                <h3 class="md-subheading">Основно</h3>
                                <div class="md-layout md-gutter md-alignment-center-center">
                                    <div class="md-layout-item md-size-10">
                                        <md-checkbox v-model="isActive"></md-checkbox>
                                    </div>
                                    <div class="md-layout-item md-size-90">
                                        <md-field>
                                            <md-select v-model="selectedMainCourses" name="salad" id="salad" :multiple="true">
                                                <md-option v-for="(mainCourse, index) in mainCourses" :key="index" :value="mainCourse"> {{ mainCourse }} </md-option>
                                            </md-select>
                                        </md-field>
                                    </div>
                                </div>
                                <div class="md-layout-item">
                                    <strong>Избрани Основно:</strong> {{ selectedMainCourses }}
                                </div>
                            </md-card-content>
                        </md-card-area>

                        <md-card-area md-inset>
                            <md-card-content>
                                <h3 class="md-subheading">Десерт</h3>
                                <div class="md-layout md-gutter md-alignment-center-center">
                                    <div class="md-layout-item md-size-10">
                                        <md-checkbox v-model="isActive"></md-checkbox>
                                    </div>
                                    <div class="md-layout-item md-size-90">
                                        <md-field>
                                            <md-select v-model="selectedDesserts" name="dessert" id="dessert" :multiple="true">
                                                <md-option v-for="(dessert, index) in desserts" :key="index" :value="dessert"> {{ dessert }} </md-option>
                                            </md-select>
                                        </md-field>
                                    </div>
                                </div>
                                <div class="md-layout-item">
                                    <strong>Избрани Десерт:</strong> {{ selectedDesserts }}
                                </div>
                            </md-card-content>
                        </md-card-area>

                        <md-card-actions>
                            <md-button class="md-primary">Създай Меню</md-button>
                        </md-card-actions>
                    </md-card>
                </md-app-content>
            </md-app>
        </div>


    </div>

    <script>
        Vue.use(VueMaterial.default)

        var app = new Vue({
            el: '#app',
            name: 'Overlap',
            data: () => ({
                menuVisible: false,
                dateNow: new Date().toLocaleDateString(),
                selectedSalads: [],
                selectedStarters: [],
                selectedMainCourses: [],
                selectedDesserts: [],

                salads: [
                    'салата-1',
                    'салата-2',
                    'салата-3',
                    'салата-4',
                    'салата-5',
                    'салата-6',
                    'салата-7',
                    'салата-8',
                ],
                starters: [
                    'предястие-1',
                    'предястие-2',
                    'предястие-3',
                    'предястие-4',
                    'предястие-5',
                    'предястие-6',
                    'предястие-7',
                    'предястие-8',
                ],
                mainCourses: [
                    'основно-1',
                    'основно-2',
                    'основно-3',
                    'основно-4',
                    'основно-5',
                    'основно-6',
                    'основно-7',
                    'основно-8',
                ],
                desserts: [
                    'десерт-1',
                    'десерт-2',
                    'десерт-3',
                    'десерт-4',
                    'десерт-5',
                    'десерт-6',
                    'десерт-7',
                    'десерт-8',
                ],
                isActive: true,
            }),

            methods: {
                sendMessage() {
                    window.alert('Send a message...')
                },
                doACall() {
                    window.alert('Calling someone...')
                }
            },
        })
    </script>
</body>

</html>